Arbeit-venv
.ipynb_checkpoints
*.mat
*.xlsx
*.py
*.txt
*.csv
*.parquet
*.pptx
*.png
*.zip
*.pdf
*.DS_Store
KNN.ipynb
NN.ipynb
DataVisual.ipynb
deep_nn_net.ipynb
OneVsAll.ipynb
OVR_GridSearch.ipynb
XGBoost.ipynb
